{% extends "rest_framework/base.html" %}
{% block title %}CBE Retail API{% endblock %}
{% block branding %}
<a class="navbar-brand" rel="nofollow" href="https://github.com/Semprini/cbe-retail">CBE Retail</a><a class="navbar-brand"> | </a>
<a class="navbar-brand" rel="nofollow" href="/api/">API</a><a class="navbar-brand"> | </a>
<a class="navbar-brand" rel="nofollow" href="/admin/">Admin</a><a class="navbar-brand"> | </a>
<a class="navbar-brand" rel="nofollow" href="/">Swagger</a><a class="navbar-brand"> | </a>
<a class="navbar-brand" rel="nofollow" href="/explorer/">Explorer</a>
{% endblock %}
           